body{
    background: #eee;
    margin: 0;
}
[v-cloak] {
    display: none;
}
h1{
    background: linear-gradient(12deg, #303966, #5a2e39);
    color: #fbfbff;
    padding: 15px;
    margin: 0;
    box-shadow: inset 0 -1px rgba(255, 255, 255, .75);
}
.red{
    color: red;
}
p{
    margin: 0;
}
small{
    color: #b5ba69;
}
.stock{
    background: #fff;
    padding: 10px 15px;
    margin: 5px 0;
    position: relative;
}
.has-left-cost-zone{
    opacity: .2;
}
.stock-name {
    border-left: 5px solid #f90;
    font-size: 24px;
    font-weight: bold;
    line-height: 0.9em;
    text-indent: 8px;
    margin: 10px 0;
}
.stock-info{
    color: #444;
    margin-bottom: 9px;
}
.stock-warning{
    background: #fff;
    border-radius: 3px;
    color: #333;
    padding: 5px 9px;
    margin-bottom: 2px;
}
.stock-warning-should-buy{
    background: #ff6464;
    color: #fff;
}
.stock-warning-should-sell{
    background: #f8ffc1;
}
.stock-remove{
    display: none;
    font-size: 20px;
    position: absolute;
    top: 20px;
    right: 15px;
}
.stock:hover .stock-remove{
    display: block;
}