<!DOCTYPE html>
<html lang="cn">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Stock Price Moniter</title>
    <link rel="stylesheet" href="css/style.css">
</head>
<body>
    <div id="app">
        <h1>持仓</h1>
        <div id="stock-list">
            <div class="stock" :class="{'has-left-cost-zone': stock.hasLeftCostZone}" v-for="stock in stockList">
                <p class="stock-name">{{ stock.name }} <small>{{ stock.sid }}</small></p>
                <p class="stock-info">现价：{{ stock.price }} 成本：{{ stock.buyPrice }}（{{ ((stock.price-stock.buyPrice)/stock.buyPrice*100).toFixed(1) }}%）</p>
                <div class="stock-warning-list">
                    <div class="stock-warning" :class="{'stock-warning-should-buy': !warning.bought, 'stock-warning-shoudl-sell': warning.shouldSell}" v-for="warning in stock.warningList">
                        第 {{ warning.id }} 层 - 
                        建议买入价：{{ warning.price }} 
                        <template v-if="warning.bought">
                            <span>已买入</span>
                            <button v-if="warning.shouldSell" @click="sell(warning, stock)">已卖出</button>
                        </template>
                        <template v-else>
                            <button @click="buy(warning)">已买入</button>
                        </template>
                    </div>
                </div>
            </div>
        </div>
        <div id="stock-add" class="stock">
            <input type="number" placeholder="6位股票代码" v-model="newStockId">
            <input type="number" placeholder="初始建仓" v-model="newStockBuyPrice">
            <input type="button" value="确定" @click="addStock">
        </div>
    </div>


    <script src="https://cdn.jsdelivr.net/npm/vue"></script>
    <script src="./js/main.js"></script>
</body>
</html>